/*eslint linebreak-style: ["error", "windows"]*/
{
    "root": true,
    "env": {
        "es6": true,
        "browser": true,
        "commonjs": true,
        "node": true
    },
    "ignorePatterns": ["/node_modules/*.*"],
    "parserOptions": {
        "parser": "@babel/eslint-parser",
        "ecmaVersion": 8,
        "sourceType": "module",
        "requireConfigFile": false
    },
    "rules": {
        "max-len": 0,
        "no-loss-of-precision": "off",
        "no-nonoctal-decimal-escape": "off",
        "no-unsafe-optional-chaining": "off",
        "no-useless-backreference": "off"
    },
    "extends": [
        "plugin:vue/vue3-essential",
        "eslint:recommended"
    ]
}