@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .w-screen-md {
        width: calc(100vw - 270px);
    }

    .h-screen-sm {
        height: calc(100vh - 4rem);
    }

    .h-screen-xs {
        height: calc(100vh - 75px);
    }

    .h-screen-md {
        height: calc(100vh - 2rem);
    }
}

.p-chips-input-token input {
    box-shadow: none!important;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.p-password-input {
    width: 100%;
}

.p-autocomplete {
    line-height: 0rem;
}

@media (max-width: 640px) {
    .p-autocomplete {
        line-height: 0rem;
    }
}